### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
save/
new_env/
__pycache__/
runs/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
*.pth
*.lnk
*.env

test.py